<!-- Navbar (sit on top) -->
<!-- <div class="w3-top" >
  <div class="w3-bar w3-wide w3-text-white w3-card" style="padding: 4px;background-color:rgb(252, 120, 120); ;">
    <a href="#home" class="w3-bar-item w3-button w3-center"><b>What's </b>The Weather</a>
  
  </div>
</div> -->
<div class="w3-top w3-text-white" style="background-color:rgb(252, 120, 120);">
    <div class="w3-xlarge" style="max-width:1200px;margin:auto;">
   
      <div class="w3-center w3-padding">What's The Weather</div>
  
    </div>
  </div>
  
  
  <header class="w3-content  w3-wide w3-hide-large" style="min-width:300px" id="home">
    <div class="w3-center w3-padding-large"><br>
        <!-- <h1 class="w3-xxxlarge">COVIDTracker</h1> --><br>
        <img  src="assets/w.jpg" class="w3-image w3-responsive w3-center">
        <img class="w3-image w3-center" src="assets/sun.gif">
      </div>
  </header>
  <header class="w3-display-container w3-content w3-center w3-wide  w3-hide-small" style="max-width:1600px;min-width:500px" id="home">
    <div class="w3-center w3-padding-large "><br>
        <!-- <h1 class="w3-xxxlarge">COVIDTracker</h1> --><br>
        <img class="w3-image w3-center" src="assets/w.jpg">
        <img class="w3-image w3-center" src="assets/sun.gif">
      </div>
      
  
  </header>
